:root {
	--theme-font-family: "InterVariable";
	--theme-font-size: 16px;
	--theme-font-color-base: 0 0% 12%;
	--theme-font-color-dark: 0 0% 98%;
	--theme-rounded-base: 2px;
	--theme-rounded-container: 2px;
	--theme-border-base: 1px;
	--theme-bg-base: 0 0% 98%;
	--theme-bg-dark: 221 39% 11%;
	--theme-primary: 160 84% 39%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: var(--theme-font-size, 16px);
	line-height: 1.5;
	font-family: var(--theme-font-family, sans-serif);
}

body {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

#app {
	transition: background-color 0.3s ease-in-out;
}

:root:has([data-theme="light"]) {
	--focus-outline: var(--theme-font-color-base);
	background-color: hsl(var(--theme-bg-base));
	color: hsl(var(--theme-font-color-base));
	color-scheme: light;
}

:root:has([data-theme="dark"]) {
	--focus-outline: var(--theme-font-color-dark);
	background-color: hsl(var(--theme-bg-dark));
	color: hsl(var(--theme-font-color-dark));
	color-scheme: dark;
}

button,
select {
	font-size: inherit;
	font-family: inherit;
}

:where(button, select):focus-within {
	outline: hsl(var(--focus-outline)) solid 2px;
	outline-offset: 1px;
}

button {
	cursor: pointer;
	border: var(--theme-border-base) solid transparent;
	border-radius: var(--theme-rounded-base);
	background-color: hsl(var(--theme-primary));
	padding: 8px 12px;
	color: hsl(var(--theme-font-color-dark));

	&:hover {
		filter: brightness(1.1);
	}
}

select {
	border: var(--theme-border-base) solid hsl(var(--theme-primary));
	border-radius: var(--theme-rounded-base);
	background: inherit;
	padding: 6px 8px;
	color: inherit;
}

option {
	color: hsl(var(--theme-font-color-base));
}

input[type="checkbox"],
input[type="radio"] {
	--input-theme-active: #275efe;
	--input-theme-active-inner: #fff;
	--input-theme-border-color: #bbc1e1;
	--input-theme-border-color-hover: #275efe;
	--input-theme-background-color: #fff;
	--input-theme-disabled: #f6f8ff;
	--input-theme-disabled-inner: #e1e6f9;
	--input-theme-focus: 2px hsla(225, 99%, 57%, 0.3);
	display: inline-block;
	position: relative;
	vertical-align: top;
	appearance: none;
	transition: background-color 0.3s, border-color 0.3s, box-shadow 0.2s;
	cursor: pointer;
	margin: 0;
	outline: none;
	border: 1px solid var(--input-border-color, var(--input-theme-border-color));
	background-color: var(--input-background-color, var(--input-theme-background-color));
	height: 21px;

	&:after {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		transition: transform var(--input-transition-duration-transform, 0.3s)
				var(--input-transition-timing, ease),
			opacity var(--input-transition-duration-opacity, 0.2s);
		content: "";
	}

	&:checked {
		--input-background-color: var(--input-theme-active);
		--input-border-color: var(--input-theme-active);
		--input-transition-duration-transform: 0.3s;
		--input-transition-duration-opacity: 0.6s;
		--input-transition-timing: cubic-bezier(0.2, 0.85, 0.32, 1.2);
	}

	&:disabled {
		--input-background-color: var(--input-theme-disabled);
		opacity: 0.9;
		cursor: not-allowed;

		&:checked {
			--input-background-color: var(--input-theme-disabled-inner);
			--input-border-color: var(--input-theme-border-color);
		}

		& + label {
			cursor: not-allowed;
		}
	}

	&:hover:not(:checked):not(:disabled) {
		--input-border-color: var(--input-theme-border-color-hover);
	}

	&:focus {
		box-shadow: 0 0 0 var(--input-theme-focus);
	}

	&:not(.switch) {
		width: 21px;

		&:after {
			opacity: var(--input-opacity, 0);
		}

		&:checked {
			--input-opacity: 1;
		}
	}

	& + label {
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
		margin-left: 4px;
		font-size: 14px;
		line-height: 21px;
	}
}

input[type="checkbox"] {
	&:not(.switch) {
		border-radius: 7px;

		&:after {
			top: 4px;
			left: 7px;
			transform: rotate(var(--input-after-rotate, 20deg));
			border: 2px solid var(--input-theme-active-inner);
			border-top: 0;
			border-left: 0;
			width: 5px;
			height: 9px;
		}

		&:checked {
			--input-after-rotate: 43deg;
		}
	}

	&.switch {
		border-radius: 11px;
		width: 38px;

		&:after {
			top: 2px;
			left: 2px;
			transform: translateX(var(--input-switch-translate-x));
			border-radius: 50%;
			background-color: var(--input-switch-background-color, var(--input-theme-border-color));
			width: 15px;
			height: 15px;
		}

		&:checked {
			--input-switch-background-color: var(--input-theme-active-inner);
			--input-switch-translate-x: 17px;
		}

		&:disabled:not(:checked):after {
			opacity: 0.6;
		}
	}
}

input[type="radio"] {
	border-radius: 50%;

	&:after {
		transform: scale(var(--input-scale, 0.7));
		opacity: 0;
		border-radius: 50%;
		background-color: var(--input-theme-active-inner);
		width: 19px;
		height: 19px;
	}

	&:checked {
		--input-scale: 0.5;
	}
}
